<div class="col-sm-3 col-md-2 col-lg-2 sidebar">
    <div class="top-navigation">
      <div class="t-menu">MENU</div>
      <div class="t-img">
        <img src="assets/images/lines.png" alt="" />
      </div>
      <div class="clearfix"> </div>
    </div>
      <div class="drop-navigation drop-navigation">
        <ul class="nav nav-sidebar">
        <li><a [routerLink]="['/']"  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="home-icon"><fa name="home"></fa>Home</a></li>
        <li><a [routerLink]="['/tv-shows']" routerLinkActive="active" class="user-icon"><fa name="tv"></fa>TV Shows</a></li>
        <li><a [routerLink]="['/movies']" routerLinkActive="active" class="sub-icon"><fa name="film"></fa>Movies</a></li>
        <li><a [routerLink]="['/history']" routerLinkActive="active" class="sub-icon"><fa name="history"></fa>History</a></li>
        <li><a [routerLink]="['/watch-party']" routerLinkActive="active" class="sub-icon"><fa name="users"></fa>Watch Party</a></li>
        </ul>
        <!-- script-for-menu -->
          <script>
            $( ".top-navigation" ).click(function() {
            $( ".drop-navigation" ).slideToggle( 300, function() {
            // Animation complete.
            });
            });
          </script>
        <div class="side-bottom">
          <div class="side-bottom-icons">
            <ul class="nav2">
              <li><a href="#" class="facebook"> </a></li>
              <li><a href="#" class="facebook twitter"> </a></li>
              <li><a href="#" class="facebook chrome"> </a></li>
              <li><a href="#" class="facebook dribbble"> </a></li>
            </ul>
          </div>
          <div class="copyright">
            <p>Copyright © 2015 My Play. All Rights Reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
          </div>
        </div>
      </div>
      </div>