.side-bottom-icons ul li a.facebook {
    background: url(social.PNG) no-repeat 0px 0px;
    width: 35px;
    height: 35px;
    display: block;
}

.side-bottom-icons ul li a.twitter {
    background: url(social.PNG) no-repeat -37px 0px;
}

.side-bottom-icons ul li a.chrome {
    background: url(social.PNG) no-repeat -76px 0px;
}

.side-bottom-icons ul li a.dribbble {
    background: url(social.PNG) no-repeat -115px 0px;
}

a {
    color: #337ab7;
    text-decoration: none;
}