i {
    margin-left: 7px;
    margin-right: 0px;
    font-size: 25px;
    vertical-align: sub;
    
    
}
ngb-rating{
    color: gold;
    font-size: 20px;
    margin-left: 5px;
    vertical-align: text-bottom;

}
div{
    display: inline-block;
}
