<div class="col-md-3 resent-grid recommended-grid movie-video-grid">
  <div class="resent-grid-img recommended-grid-img">
    <a routerLink="/tv-show/{{this.tvShow.id}}"><img class="movie_poster" src="{{imageUrl}}" alt="" /></a>
  </div>
  <div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
    <h5><a routerLink="/tv-show/{{this.tvShow.id}}" class="title">{{this.tvShow.title}}</a></h5>
    <ul>
      <li>
        <p class="author author-info"><a href="#" class="author">
            <fa name="user"></fa>{{this.tvShow.producer.name}}
          </a></p>
      </li>
      <li class="right-list">
        <p class="views views-info"><fa name="star" [ngStyle]="{'color':tvShow.userRating === 0 ? 'gray' : 'gold' }"></fa>{{this.tvShow.userRating}}</p>
      </li>
    </ul>
  </div>
</div>