
<div class="single-right-grids">
    <div class="col-md-4 single-right-grid-left">
      <a routerLink="/tv-show/{{episode.tvShowId}}/episode/{{episode.id}}"><img src="{{imageUrl}}" alt="" /></a>
    </div>
    <div class="col-md-8 single-right-grid-right">
      <a routerLink="/tv-show/{{episode.tvShowId}}/episode/{{episode.id}}" class="title"> Episode {{episode.episodeNo}}: {{episode.title}}</a>
      <p class="views">Published on {{episode.releaseDate | dateFormat}}</p>
    </div>
    <div class="clearfix"> </div>
  </div>
  
