<mat-dialog-content>
  <h3>SIGN UP</h3>
  <div class="signup">
    <form>
      <input type="text" class="email" placeholder="Enter email / mobile" required="required"
        pattern="([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?" />
      <input type="password" placeholder="Password" required="required" pattern=".{6,}"
        title="Minimum 6 characters required" autocomplete="off" />
      <input type="password" placeholder="Confirm Password" required="required" pattern=".{6,}"
        title="Minimum 6 characters required" autocomplete="off" />
      <input type="text" class="email" placeholder="Enter username" required="required" />

      <br>
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">Male</mat-radio-button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-radio-button value="2">Female</mat-radio-button>
      </mat-radio-group>
      <br>

      <input type="text" class="email" required="required" [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker">
        <i class="material-icons" matDatepickerToggleIcon>
          date_range
        </i>
        <mat-icon>date_range</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>

      <input type="submit" value="LOGIN" />
    </form>
    <div class="forgot">
      <a href="#">Forgot password ?</a>
    </div>
  </div>
  <div class="clearfix"> </div>
  <button title="Close (Esc)" type="button" class="mfp-close" (click)="onCloseClick()">×</button>
</mat-dialog-content>