<mat-dialog-content style="width: 60vw; height: 60vh;">
      <mat-card *ngIf="risResult!=null">
        <mat-card-header>
          <mat-card-title>{{risResult.Title}}</mat-card-title>
          <mat-card-subtitle>{{risResult.Subtitle}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div [innerHTML]="risResult.Description"></div>
          <h4>Related links</h4>
          <ul>
            <li *ngFor="let link of risResult.Links">
              <h5>{{link.title}}</h5>
              <a href="{{link.url}}">{{link.url}}</a>
            </li>
          </ul>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button >SHARE</button>
          <button mat-button (click)="closeModal()">RESUME VIDEO</button>
        </mat-card-actions>
      </mat-card>
      <mat-spinner  *ngIf="risResult===null" class="play_icon"> </mat-spinner>
</mat-dialog-content>
