<app-nav-bar></app-nav-bar>
<app-menu></app-menu>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="show-top-grids">
        <ngx-ui-carousel [infinite]="true" [fade]="false" [speed]="2000" height="90vh" width="100%" isArrowsVisible="true">
            <ngx-ui-carousel-item>
                <img src="assets/images/land1.jpg">
            </ngx-ui-carousel-item>
            <ngx-ui-carousel-item>
                    <img src="assets/images/land2.jpg">
            </ngx-ui-carousel-item>
            <ngx-ui-carousel-item>
                    <img src="assets/images/land3.jpg">
            </ngx-ui-carousel-item>
            <ngx-ui-carousel-item>
                    <img src="assets/images/land4.jpg">
            </ngx-ui-carousel-item>
        </ngx-ui-carousel>
    </div>
</div>
<div class="clearfix"> </div>