<div class="all-comments">
  <div class="all-comments-info">
    <a href="#">All Comments (8,657)</a>
    <div class="box">
      <form>
        <input type="text" placeholder="Name" required=" ">			           					   
        <input type="text" placeholder="Email" required=" ">
        <input type="text" placeholder="Phone" required=" ">
        <textarea placeholder="Message" required=" "></textarea>
        <input type="submit" value="SEND">
        <div class="clearfix"> </div>
      </form>
    </div>
    <div class="all-comments-buttons">
      <ul>
        <li><a href="#" class="top">Top Comments</a></li>
        <li><a href="#" class="top newest">Newest First</a></li>
        <li><a href="#" class="top my-comment">My Comments</a></li>
      </ul>
    </div>
  </div>
  <div class="media-grids">
    <div class="media">
      <h5>Tom Brown</h5>
      <div class="media-left">
        <a href="#">
          
        </a>
      </div>
      <div class="media-body">
        <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas imperdiet ipsum id ex pretium hendrerit</p>
        <span>View all posts by :<a href="#"> Admin </a></span>
      </div>
    </div>
    <div class="media">
      <h5>Mark Johnson</h5>
      <div class="media-left">
        <a href="#">
          
        </a>
      </div>
      <div class="media-body">
        <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas imperdiet ipsum id ex pretium hendrerit</p>
        <span>View all posts by :<a href="#"> Admin </a></span>
      </div>
    </div>
    <div class="media">
      <h5>Steven Smith</h5>
      <div class="media-left">
        <a href="#">
          
        </a>
      </div>
      <div class="media-body">
        <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas imperdiet ipsum id ex pretium hendrerit</p>
        <span>View all posts by :<a href="#"> Admin </a></span>
      </div>
    </div>
    <div class="media">
      <h5>Marry Johne</h5>
      <div class="media-left">
        <a href="#">
          
        </a>
      </div>
      <div class="media-body">
        <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas imperdiet ipsum id ex pretium hendrerit</p>
        <span>View all posts by :<a href="#"> Admin </a></span>
      </div>
    </div>
    <div class="media">
      <h5>Mark Johnson</h5>
      <div class="media-left">
        <a href="#">
          
        </a>
      </div>
      <div class="media-body">
        <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas imperdiet ipsum id ex pretium hendrerit</p>
        <span>View all posts by :<a href="#"> Admin </a></span>
      </div>
    </div>
    <div class="media">
      <h5>Mark Johnson</h5>
      <div class="media-left">
        <a href="#">
          
        </a>
      </div>
      <div class="media-body">
        <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas imperdiet ipsum id ex pretium hendrerit</p>
        <span>View all posts by :<a href="#"> Admin </a></span>
      </div>
    </div>
    <div class="media">
      <h5>Peter Johnson</h5>
      <div class="media-left">
        <a href="#">
          
        </a>
      </div>
      <div class="media-body">
        <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas imperdiet ipsum id ex pretium hendrerit</p>
        <span>View all posts by :<a href="#"> Admin </a></span>
      </div>
    </div>
  </div>
</div>