<div class="col-md-3 resent-grid recommended-grid movie-video-grid">
  <div class="resent-grid-img recommended-grid-img">
    <a routerLink="/movie/{{movie.id}}"><img src="{{imageUrl}}" alt="" /></a>
    <div class="time small-time show-time movie-time">
      <p>{{getTimeString}}</p>
    </div>
    <div class="clck movie-clock">
      <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
    </div>
  </div>
  <div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
    <h5><a routerLink="/movie/{{movie.id}}" class="title">{{movie.title}}</a></h5>
    <ul>
      <li>
        <p class="author author-info"><a href="#" class="author"><fa name="user"></fa>{{movie.producer.name}}</a></p>
      </li>
      <li class="right-list">
        <p class="views views-info">{{movie.userRating}} <fa name="star"></fa></p>
      </li>
    </ul>
  </div>
</div>