<app-nav-bar></app-nav-bar>
<app-menu></app-menu>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <div class="show-top-grids">
    <div class="col-sm-8 single-left">
      <div class="song">
        <div class="song-info">
          <h3><a routerLink="/tv-show/{{this.tvShow?.id}}">{{this.tvShow?.title}}</a> - Season {{this.episode?.seasonNo}},Episode {{this.episode?.episodeNo}}: {{this.episode?.title}}</h3>	
      </div>
        <div class="video-grid">
          <iframe src="https://www.youtube.com/embed/hMANIarjT50" allowfullscreen></iframe>
        </div>
      </div>
      <div class="clearfix"> </div>
      <div class="published">
          <div class="load_more">	
            <ul id="myList">
              <li style="display: list-item;">
                <h4>Published on  {{this.episode?.releaseDate | dateFormat}}</h4>
                <h4>Created by:  {{this.tvShow?.producer.name}}</h4>
                <p>{{this.episode?.description}}</p>
              </li>
            </ul>
          </div>
      </div>
      <app-comment-section></app-comment-section>
    </div>
    <app-episode-list [tvShow]="tvShow"></app-episode-list>
    <div class="clearfix"> </div>
  </div>
</div>
<div class="clearfix"> </div>