<app-nav-bar></app-nav-bar>
<app-menu></app-menu>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <div class="show-top-grids">
    <div class="movie-display">
      <div class="song">
        <div class="song-info">
          <h2>{{this.movie.title}}</h2>	
      </div>
        <div class="video-grid">
          <iframe src="http://afterglowplayer.com/sandbox/v1/afterglow_local_hd.mp4" allowfullscreen></iframe>
        </div>
      </div>
      <div class="clearfix"> </div>
      <div class="published">
        <script src="jquery.min.js"></script>
          <script>
            $(document).ready(function () {
              size_li = $("#myList li").size();
              x=1;
              $('#myList li:lt('+x+')').show();
              $('#loadMore').click(function () {
                x= (x+1 <= size_li) ? x+1 : size_li;
                $('#myList li:lt('+x+')').show();
              });
              $('#showLess').click(function () {
                x=(x-1<0) ? 1 : x-1;
                $('#myList li').not(':lt('+x+')').hide();
              });
            });
          </script>
          <div class="load_more">	
            <ul id="myList">
              <li style="display: list-item;">
                <h4>Published on  {{movie.releaseDate | dateFormat}}</h4>
                <h4>Genre:  {{movie.genre.name}}</h4>
                <h4>Created by:  {{movie.producer.name}}</h4>
                <h4>Content rating:  {{movie.contentRating.name}}</h4>
                <h4>User rating:  {{movie.userRating}}<fa name="star"></fa></h4>
                <p>{{movie.description}}</p>
              </li>
            </ul>
          </div>
      </div>
      <app-comment-section></app-comment-section>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<div class="clearfix"> </div>